<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.17.0" targetFramework="net452" />
  <package id="SourceGrid" version="4.4.0" targetFramework="net452" />
</packages>